body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.result {
    background-image: linear-gradient(rgb(24, 49, 158), rgb(111, 0, 255));
    width: 300px;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

h6 {
    font-size: 0.9rem;
    text-align: center;
    opacity: 80%;
    margin-bottom: 15px;
}

.resultValue {
    background-image: linear-gradient(rgb(111, 0, 255), rgb(24, 49, 158));
    width: 110px;
    height: 110px;
    border-radius: 100%;
    text-align: center;
    
}

.resultMessage {
    width: 220px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
}

.major {
    font-size: 3rem;
    margin: 0;
    padding-top: 20px;
}

h4 {
    margin: 30px 0 10px 0;
    padding-bottom: 0;
}

.minor {
    margin: 0;
    font-size: 0.8rem;
    opacity: 80%;
}

.summary {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

h3 {
    margin: 15px 15px 10px 15px;
    font-size: 1rem;
    color: rgb(11, 34, 118);
}

.sumCat1 {
    border-radius: 10px;
    background-color: rgba(223, 127, 128, 0.3);
    color: rgb(235, 53, 53);
    padding: 0 20px;
    margin: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}

.sumCat2 {
    border-radius: 10px;
    background-color: rgba(226, 219, 87, 0.3);
    color: rgb(228, 189, 45);
    padding: 0 20px;
    margin: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}

.sumCat3 {
    border-radius: 10px;
    background-color: rgba(95, 223, 95, 0.3);
    color: rgb(28, 134, 33);
    padding: 0 20px;
    margin: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}

.sumCat4 {
    border-radius: 10px;
    background-color: rgba(95, 125, 223, 0.3);
    color: rgb(14, 40, 134);
    padding: 0 20px;
    margin: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}

.num {
    color: grey;
}

strong {
    color: rgb(11, 34, 118);
}

button {
    border-radius: 20px;
    border: 0;
    background-color: rgb(11, 34, 118);
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    margin: 3px 10px;
}

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }
    .result {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}